<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="close()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ticketDispenser.label}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section>
    <header>Azioni</header>
    <ion-button (click)="endSession()" *ngIf=" sessionStarted() " expand="block">
      <ion-icon name="stop-outline" aria-label="Stop"></ion-icon>
    </ion-button>
    <ion-button (click)="startSession()" *ngIf=" ! sessionStarted() " expand="block">
      <ion-icon name="play-outline" aria-label="Play"></ion-icon>
    </ion-button>
  </section>
  
</ion-content>
