<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="close()" defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{userTicketDispenserState?.ticketDispenser?.label}}
        <span *ngI></span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">

    <ion-card *ngIf="userTicketDispenserState?.currentUserAliveTicket">
      <qrcode [qrdata]="userTicketDispenserState.currentUserAliveTicket?.uniqueIdentifier" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      <ion-card-header>
        <ion-card-subtitle>Ticket</ion-card-subtitle>
        <ion-card-title>#{{userTicketDispenserState.currentUserAliveTicket?.publicNumber}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <section style="margin: 1em;" *ngIf="! userTicketDispenserState?.withdrawable">
      <ion-text color="danger">
        <h3>
          La distribuzione di biglietti
          per {{userTicketDispenserState?.ticketDispenser?.label}} 
          non è attiva in questo momento.
        </h3>
      </ion-text>
    </section>
  
    <section style="margin: 1em;" *ngIf="userTicketDispenserState?.withdrawable">
      <ion-button (click)="withdraw()" size="large" expand="block" color="success">
        <ion-icon name="bookmark-outline" aria-label="Ticket"></ion-icon>
        <ion-icon name="caret-down-outline" aria-label="Stacca il biglietto"></ion-icon>
      </ion-button>
    </section>
  
  </ion-content>
  