<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Crea nuovo dispenser</ion-label>
      <ion-input [(ngModel)]="newTicketDispenserLabel" placeholder="Nome"></ion-input>
      <ion-button (click)="createTicketDispenser()">Crea</ion-button>
    </ion-item>
    <ion-item *ngFor="let ticketDispenser of ticketDispensers;">
      <ion-label>
        <h2>{{ticketDispenser.label}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
