<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Distributori
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Nuovo</ion-label>
      <ion-input [(ngModel)]="newTicketDispenserLabel" placeholder="Scegli un nome" required="true" aria-required="true"></ion-input>
      <ion-button (click)="createTicketDispenser()" color="success">
        <ion-icon name="add-circle-outline" aria-label="Crea"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngFor="let ticketDispenser of ticketDispensers;">
      <ion-label>
        <h2>{{ticketDispenser.label}}</h2>
      </ion-label>
      <ion-button item-right (click)="openDispenserDetail(ticketDispenser.id)">
        <ion-icon name="open-outline" aria-label="Apri"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
